@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/variables.scss';

// g

// @include mobile {
//   .mobile-center {
//     text-align: center;
//   }
//   .mobile-style {
//     display: block;
//     margin-right: auto;
//     margin-left: auto;
//   }
// }

// @include tablet {
//   .mobile-center {
//     text-align: center;
//   }
//   // .mobile-style {
//   //   display: block;
//   //   margin-right: auto;
//   //   margin-left: auto;
//   // }
// }
.container {
  // margin: 0;
  // padding: 0;

  @include tablet {
    .text-center {
      margin: 0;
      padding: 0;
    }
    .mobile-center {
      text-align: center;
    }
    .mobile-style {
      display: block;
      margin-right: 0;
      margin-left: 0;
    }
    .advanced-tech-img {
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;

      position: relative;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
    }
  }
}
