.wrapped {
  background-color: #f0380f;
  .testimonies-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 700px;

    .quote-content {
      margin: 100px auto;
      text-align: center;
      margin-bottom: 20px;
      color: #ffffff;
      font-size: 40px;
    }
    .client-content {
      text-align: center;
      color: #ffffff;
    }

    .testimonies-content {
      display: flex;
      margin-bottom: 100px;

      .quote-indicator {
        height: 20px;
        width: 20px;
        margin: 0 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .quote-indicator::before {
        content: '';
        height: 6px;
        width: 6px;
        background-color: #d4d4d4;
        border-radius: 50%;
        transition: background-color 0.3s ease;
      }

      .quote-indicator:hover::before {
        background-color: #45454d;
      }

      .data-quote-0::before {
        background-color: #45454d;
      }
      .data-quote-1::before {
        background-color: #45454d;
      }
      .data-quote-2::before {
        background-color: #45454d;
      }
      .data-quote-3::before {
        background-color: #45454d;
      }
      // span[data-quote='${active}']::before {
      //   background-color: #45454d;
      // }
    }
  }
}
