@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/variables.scss';

.container {
  .title {
    font-size: 40px;
    font-family: $font-family;
  }

  @include tablet {
    .title {
      text-align: center;
      margin-bottom: 30px;
    }
    .product-card {
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      position: relative;
      display: block;
      margin: 0;
    }
  }
}
